body {
  line-height: 1.4;
  background-color: #ecf0f1;
  color: #2c3e50;
}

.content-wrap {
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

h1, h2, h3 {
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Link Styles */

/* style the default link color */
a:link {
  color: #34495e;
  text-decoration: none;
}

/* style visited links */
a:visited {
  color: #2c3e50;
}

/* style hover/focus links */
a:hover,
a:active,
a:focus {
  color: #e74c3c;
}

.header {
  color: #fff;
  background: url('ornette.jpg') repeat-x;
  height: 400px;
}

h1 {
  font-size: 120px;
  text-align: center;
  opacity: .9;
  margin: 0;
  padding-right: 15px;
  padding-top: 250px;
}

h3 {
  text-align: center;
  color: #7f8c8d;
  text-transform: uppercase;
  font-size: 24px;
}

.intro {
  font-size: 34px;
  background-color: #2980b9;
  color: #ecf0f1;
  text-align: center;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  font-weight: 100;
  opacity: .9;
}

.intro p {
  margin: 0 auto;
}

.album-info {
  background-color: #2ecc71;
  color: #ecf0f1;
}

.album-info p {
  font-size: 18px;
}

table {
  margin-top: 20px;
  width: 100%;
}

table,
td {
border: 1px solid #7f8c8d;
border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

thead {
  color: #ecf0f1;
  background: #7f8c8d;
}

.num {
  font-weight: bold;
}

.left {
  width: 50%;
  float: left;
}

.footer {
  background-color: #34495e;
  color: #ecf0f1;
  text-align: center;
}

/* style the default link color */
.footer a:link,
.footer a:visited {
  color: #2ecc71;
}

/* style hover/focus links */
.footer a:hover,
.footer a:active,
.footer a:focus {
  border-bottom: 1px solid #2ecc71;
}