<header class="site-header group">
    <h1 class="site-title"><a class="header-link" href="/"><span class="site_name">&#60;{{ site.theme.name }}&#62;</span><span class="subtitle"> Fundamentals of Web Design</span></a></h1>
    <nav class="site-nav">
      <ul class="nav-list">
        <li><a href="/about"><span class="fa fa-info-circle"></span> About</a></li>
        <li><a href="/resources"><span class="fa fa-book"></span> Resources</a></li>
        <li><a href="https://github.com/DMD1070/DMD1070.github.io"><span class="fa fa-code-fork"></span> Fork this Course</a></li>
      </ul>
    </nav>
</header>