*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #444;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 38em;
  padding: 0 15px;
  font-size: 1.25em; /*set container base font to 20px */
}

a:link,
a:visited {
  color: rgb(224, 92, 78);
  font-weight: 600;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  opacity: .9;
  border-bottom: 2px solid rgb(224, 92, 78);
}

a {
  -webkit-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;
}


/*
Header
--------------------------- */

.site-header {
  background: #343740;
  padding: 15px;
}

.site-header a:link,
.site-header a:visited {
  color: #eceeed;
  font-weight: 600;
  text-decoration: none;
}

.site-header a:link .fa,
.site-header a:visited .fa {
  color: rgb(224, 92, 78);
  font-size: 1.2em;
}

.site-header a:hover,
.site-header a:active,
.site-header a:focus {
  border-bottom: 2px solid rgb(224, 92, 78);
}

.site-title a:hover,
.site-title a:active,
.site-title a:focus {
  color: #eceeed;
  border-bottom: none;
}

.subtitle {
  font-weight: 100;
  text-transform: uppercase;
}

.site-title {
  margin: 0;
  max-width: 50%;
  float: left;
  font-size: 1.5em;
  line-height: 56px; /* height of header */
}

.site-nav {
  min-width: 50%;
  float: right;
  text-align: right;
}

.nav-list li {
  display: inline;
  margin-left: 1.5em;
}

/*
Home Page
--------------------------- */

.posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
Posts/Lessons
--------------------------- */

.lead {
  font-size: 1.2em;
}

pre {
  background: #ECF0F1;
  padding: 10px;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight td {
  padding: 8px 15px;
}

/*
tables
-------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

thead {
  background: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

td, 
th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}

td:first-child,
th:first-child {
  border-left-width: 0;
}

/*
Lesson TOC
--------------------------- */

@media (min-width: 1250px) {

  .scroll-nav {
    position: fixed;
    right: 0;
    top: 116px;
    width: 260px;
    background: #ECF0F1;
    font-size: 0.75em;
    text-align: left;
    padding: 10px;
  }
}

@media (max-width: 1250px) {
  .scroll-nav {
    display: none;
  }
}

.scroll-nav__list {
  margin: 0;
  padding: 0;
}

.scroll-nav__item {
  list-style: none;
}

.scroll-nav__link,
.scroll-nav__link:link,
.scroll-nav__link:visited {
  font-weight: 400;
}

.scroll-nav__link.active,
.scroll-nav__link.active:link,
.scroll-nav__link.active:visited  {
  font-weight: 800;
}

/*
Footer
--------------------------- */

.site-footer {
  margin: 40px 0 20px 0;
  font-size: .75em;
}

/*
Alert
--------------------------- */
.alert {
  margin-top: 20px;
  padding: 10px;
  background: #f7de78;
  border: 1px solid #F1C40F;
  text-align: center;
}

.alert a .fa {
  font-weight: normal;
}

.alert a,
.alert a:link,
.alert a:visited {
  color: #3498DB;
}

.alert a:hover,
.alert a:active,
.alert a:focus {
  border-bottom: none;
  color: #E74C3C;
}

/*
Clearfix
--------------------------- */

.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

/*
Media Queries
--------------------------- */
@media (max-width: 1110px) {
  body {
    font-size: 0.875em;
  }

  .site-title {
    font-size: 1.2em;
  }
}


@media (max-width: 800px) {

  .subtitle {
    display: none;
  }

}

@media (max-width: 500px) {

  .site-title {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
    float: none;
    line-height: 56px; /* height of header */
  }
  .site-nav {
    float: none;
    min-width: 100%;
    width: 100%;
    text-align: center;
  }
  .nav-list {
    margin: 0;
    padding: 0;
  }

  .nav-list li {
    display: block;
    text-align: left;
  }
  
}

