<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.theme.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.theme.name }}" />
  <meta name="description" content="{ site.theme.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/atom.xml" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/all.css">
</head>
<body>

<div id="wrap">

  {% include header.html %}


  <div class="container">
    {{ content }}
  </div>
</div>

  <div id="footer">
    {% include footer.html %}
  </div>


<!--{% include analytics.html %}-->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
